.baraja {
  width: 7.5in;
  margin: 20px auto;
  max-width: 800px;
}

.carta {
  opacity: 0.7;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 279px;
  transition: all 0.5s;
}

.carta>div {
  width: 200px;
  height: 279px;
  position: absolute;
  top: 0;
  left: 0;
}

.reverso,
.anverso {
  background-repeat: no-repeat;
  background-size: cover;
}

.reverso {
  background-image: url('./examples/ud3/ex9/img/reverso.jpg');
  z-index: 1;
  transition: all 0.5s;
}

.anverso {
  transform: rotateY(180deg);
  z-index: 0;
  transition: all 0.5s;
}

#karlach .anverso {
  background-image: url('./examples/ud3/ex9/img/karlach.png');
}

#volo .anverso {
  background-image: url('./examples/ud3/ex9/img/volo.png');
}

#shadowheart .anverso {
  background-image: url('./examples/ud3/ex9/img/shadowheart.png');
}

#gale .anverso {
  background-image: url('./examples/ud3/ex9/img/gale.png');
}

#halsin .anverso {
  background-image: url('./examples/ud3/ex9/img/halsin.png');
}

#laezel .anverso {
  background-image: url('./examples/ud3/ex9/img/laezel.png');
}

#minsc .anverso {
  background-image: url('./examples/ud3/ex9/img/minsc.png');
}

#minthara .anverso {
  background-image: url('./examples/ud3/ex9/img/minthara.png');
}

#jaheira .anverso {
  background-image: url('./examples/ud3/ex9/img/jaheira.png');
}

.carta:hover {
  opacity: 1;
  cursor: pointer;
}

.carta.girada:hover {
  cursor: default;
}

.girada {
  opacity: 1;
  transform: rotateY(180deg);
}

.girada .anverso {
  z-index: 1;
}

.girada .reverso {
  z-index: 0;
}

.correcta {}